# **Data Types and Structures Questions**

#1. What are data structures, and why are they important?



**Answer**: Data Structures are ways of organizing and storing data to perform operations efficiently. They help in data management, easy access, and better performance in programming.

#2. Explain the defference between mutable and immutable data types with examples.


**Answer**:
* **Mutable**: Can be changed after creation (e.g. , list , dictionary , set).

* **Immutable**: Cannot be changed after creation (e.g. , tuple , string , int)

#3. What are the main differences between lists and tuples in Python?


**Answer**:
* List are mutable , tuples are immutable.

* Lists use more memory , tuples are faster.

* Lists : [ ] , Tuples : ( ).

#4. Describe how dictionaries store data.


**Answer**: Dictionaries store data as key - value pairs using a hash table for fast lookup.

#5. Why might you use a set instead of a list in Python?


**Answer**: Sets automatically remove duplicates and allow fast membership testing using hashing.

#6. What is a string in Python, and how is it different from a list?


**Answer**: A string is an immutable sequence of characters, while a list is a mutable sequence of items.

#7. How do tuple ensure data integrity in Python?


**Answer**: Tuples are immutable, preventing accidental modification of data, which is ideal for constants.

#8. What is a hash table, and how does it relate to dictionaries in Python?


**Answer**: A hash table maps keys to values using a hash function. Python dictionaries are built on hash tables.

#9. Can lists contain different data types in Python?


**Answer**: Yes, lists can contain mixed data types like integers, string, and other lists.

#10. Explain why strings are immutable in Python?


**Answer**: String immutability improves performance and safety, especially in multithreaded contexts.

#11. What advantages do dictionaries offer over lists for certain tasks?


**Answer**: Faster lookup, better for key - based access, and no need to iterate through every element.

#12. Describe a scenario where using a tuple would be preferable over a list.


**Answer**: When storing constant data like coordinates (x, y), as tuples are immutable and more efficient.

#13. How do sets handle duplicate values in Python?


**Answer**: Sets automatically eliminate duplicates; only unique values are stored.

#14. How does the "in" keyword work differently for lists and dictionaries?


**Answer**:
* **List**: Checks for the presence of a value.

* **Dictionary**: Checks for the presence of a key.

#15. Can you modify the elements of a tuple? Explain why or why not.



**Answer**: No, tuples are immutable. Once created, their content cannot be changed.

#16. What is nested dictionary, and give an example of its use case?


**Answer**: A dictionary within another dictionary.

**Example**: students = {"101": {"name": "Alice", "age": 21}}

#17. Describe the time complexity of accessing elements in a dictionary.


**Answer**: Average time complexity is **O**(1) due to hash - based access.

#18. In what situations are lists preferred over dictionaries?


**Answer**: When order matters, and when storing a sequence of items without unique keys.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?


**Answer**: Prior to Python 3.7, dictionaries didn't maintain insertion order. Now they do, but the access is still key - based, not index - based.

#20. Explain the difference between a list and dictionary in terms of data retrieval.


**Answer**:
* **List**: Retrieve by index (e.g., my_list[0]) - slow for search.

* **Dictionary**: Retrieve by key (e.g., my_dict['key']) - fast lookup.

#**Practical Quetions**

#1. Write a code to create a string with your name and print it.

In [ ]:
# Creating a string with my name
my_name = "Sneha Singh"

# Printing the name
print("My name is:", my_name)

My name is: Sneha Singh

#2. Write a code to find the length of the string "Hello World"

In [ ]:
# Define the string
text = "Hello World"

# Find and print the length
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

#3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters are:", sliced_text)

First 3 characters are: Pyt

#4. Write a code to convert the string "hello" to uppercase.

In [ ]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
# Define the string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

#6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
# Define the list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("Second element is:", second_element)

Second element is: b

#10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
reversed_list = numbers[::-1]
print("Reversed list using slicing:", reversed_list)

Reversed list using slicing: [10, 20, 30, 40, 50]

#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = colors[-2]

# Print the result
print("Second-to-last element is:", second_to_last)

Second-to-last element is: blue

#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
min_number = min(numbers)

# Print the result
print("Minimum number is:", min_number)

Minimum number is: 5

#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
cat_index = animals.index('cat')

# Print the result
print("Index of 'cat' is:", cat_index)

Index of 'cat' is: 1

#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Create a tuple with fruits
fruits = ("apple", "banana", "mango")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Create a set
my_set = {'a', 'b', 'c'}

# Print the set
print("Set:", my_set)

Set: {'b', 'a', 'c'}

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
# Define the set
my_set = {1, 2, 3, 4, 5}

# Clear the set
my_set.clear()

# Print the result
print("Set after clearing:", my_set)

Set after clearing: set()

#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
# Define the set
my_set = {1, 2, 3, 4}

# Remove the element 4
my_set.remove(4)

# Print the updated set
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
# Create the dictionary
person = {
    "name": "Sneha",
    "age": 20,
    "city": "Delhi"
}

# Print the dictionary
print("Dictionary:", person)

Dictionary: {'name': 'Sneha', 'age': 20, 'city': 'Delhi'}

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
# Define the dictionary
person = {'name': 'John', 'age': 25}

# Add the new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value of the key "name"
name_value = person['name']

# Print the result
print("Value of 'name':", name_value)

Value of 'name': Alice

#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if "city" is a key in the dictionary
if "city" in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Sneha', 'age': 20, 'city': 'Delhi'}

# Print all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Sneha', 'age': 20, 'city': 'Delhi'}

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [18, 26, 68, 94, 96]

#28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Create a list with strings
words = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index
print("Element at index 3:", words[3])

Element at index 3: date

#29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

#30. Write a code to convert a list of strings into a set.

In [ ]:
# Define a list of strings
string_list = ["apple", "banana", "cherry", "apple"]

# Convert the list to a set
string_set = set(string_list)

# Print the result
print("Set:", string_set)

Set: {'banana', 'cherry', 'apple'}